body {
  background-color:#087583;
}

.navbar-brand {
  margin-right: auto;
  
}
.navbar-dark .navbar-brand {
  color:#1A6CC4;
  font-size: 1.5em;
}


.row{
  margin-top: 60px;
}
.description{
  margin-top: 30px;
  margin-left: 30px;
  font-family: Helvetica;
  font-size: 1.5em;
  color:whitesmoke;

}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}
